.crewCreate{
    width:50%;
    margin:0 auto;
    padding:30px 0px;
}
.crewCreate h1{
    font-size:18px;
    font-weight: 600;
    margin: 15px 0px;
}
.crewCreate input{
    height:30px;
    padding:5px;
    font-size:16px;
}
.crewCreate textarea{
    padding:5px;
    font-size:16px;
}
.category select, .area select{
    margin-right: 15px;
    height: 40px;
    width: 15%;
    font-size: 14px;
}
.category select option{
    font-size: 16px;
}
.recruit h1{
    display: inline-block;
    margin-right: 30px;
}
/* checkbox */
.recruit input:nth-child(2){
    vertical-align: middle;
    zoom:1.3;
    margin-left:10px;
}
/* data field */
.recruit input:nth-child(3){
    display: block;
    width: 25%;
}

.writing input, .writing textarea{
    width:100%;
}
.writing_desc{
}
.writing_desc textarea{
    height:200px;
}
.thumbnail input{
    border:1px solid black;
}
.profile_preview{
    margin-top:20px;
    width: 100%;
}
.submit_button button{
    width:100%;
    outline: none;
    border-radius: 15px;
    background-color: rgb(242, 170, 170);
    color:white;
    border:1px solid #d3d3d3;
    margin:30px 0px;
    height:40px;
    font-size: 18px;
    font-weight: 600;
}
@media (max-width: 1024px) {
	.crewCreate{
        width:80%;
    }
    .category select, .area select{
        width: 20%;
    }
    .recruit input:nth-child(3){
        width: 40%;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 480px) {
    .crewCreate{
        width:95%;
    }
    .category select, .area select{
        width: 25%;
    }
    .crewCreate input,.crewCreate select ,.crewCreate textarea {
        border: none;
        border-bottom: 1px solid #e3e3e3;
        border-top: 1px solid #e3e3e3;
        padding-left:5px;
    }
    input[type=file]{
        border:none;
    }
    
}