.crewCreate{
    width:50%;
    margin:0 auto;
    padding:30px 0px;
}
.crewCreate h1{
    font-size:20px;
    font-weight: 600;
    margin: 20px 0px;
}
.crewCreate input{
    height:30px;
    padding:5px;
    font-size:16px;
}
.crewCreate textarea{
    padding:5px;
    font-size:16px;
}
.area{
    margin-bottom: 20px;
}
.category select, .area select{
    margin-right: 15px;
    height: 40px;
    width: 30%;
    font-size: 16px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    outline: none;
    background-color: white;
}
.area select{
    font-size: 18px;
}
.area span{
    font-weight: 600;
    font-size: 18px;
    margin-right: 20px;
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    color:#808080;
    display: inline-block;
    width: 30%;
    height: 40px;
    vertical-align: top;
    line-height: 40px;
    text-align: center;
}
.category select option{
    font-size: 16px;
}
.recruit h1{
    display: inline-block;
    margin-right: 30px;
}
/* checkbox */
.recruit input:nth-child(2){
    vertical-align: middle;
    zoom:1.3;
    margin-left:10px;
}
/* data field */
.recruit input:nth-child(3), .range{
    display: block;
    width: 60%;
}

.metting_date input[type=date]{
    background-color: white;
    border:1px solid #e3e3e3;
}

.writing input, .writing textarea{
    width:100%;
}

.writing_desc textarea{
    height:200px;
}
.thumbnail input{
    border:1px solid black;
}
.profile_preview{
    margin-top:20px;
    width: 280px;
    height: 160px;
}
.submit_button button{
    width:100%;
    outline: none;
    border-radius: 15px;
    background-color: rgb(242, 170, 170);
    color:white;
    border:1px solid #d3d3d3;
    margin:30px 0px;
    height:40px;
    font-size: 18px;
    font-weight: 600;
}


@media (max-width: 1024px) {
	.crewCreate{
        width:80%;
    }
}

@media (max-width: 768px) {
    .category select, .area select{
        width: 35%;
    }
    .area span{
        width: 35%;
    }
    .recruit input:nth-child(3), .range{
        width: 70%;
    }
}

@media (max-width: 480px) {
    .crewCreate{
        width:90%;
        margin-left:15px;
    }
    .category select, .area select{
        width: 40%;
    }
    .area span{
        width: 40%;
    }
    .recruit input:nth-child(3), .range{
        width: 80%;
    }
    .crewCreate input, .crewCreate select ,.crewCreate textarea {
        border: none;
        border-bottom: 1px solid #e3e3e3;
        border-top: 1px solid #e3e3e3;
        padding-left:5px;
    }
    
    input[type=file]{
        border:none;
    }
    
}