.crew_category{
    width:100%;
}
.crew_category:nth-child(2n){
    background-color: rgb(255, 235, 235);
}

.crew_list_wrap{
    width:80%;
    height:100%;
    margin:0 auto;
    padding:20px 0px;
}

@media (max-width: 480px) {
	.crew_list_wrap{
        width:95%;
    }
}