.sub_title{
    color:black;
    font-weight: 600;
}
.crewDetail_wrap{
    width: 60%;
    margin:0 auto;
    margin-top:100px;
}
.crewDetail_content{
    border:1px solid #e3e3e3;
    width:100%;
    padding:25px 15px;
}
.crewDetail_comment_wrap{
    /* border:1px solid #e3e3e3; */
    width:100%;
}
.crewDetail_delete{
    float:right;
}
.crewDetail_delete button{
    font-weight: 600;
    background-color: #f1f1f1;
    outline: none;
    border: 1px solid #f1f1f1;
    padding:5px;
    width:50px;
    box-shadow: 1px 1px 0px 0px rgba(214, 213, 213, 0.75);
    border-radius: 3px;
}
.crewDetail_content_info_name,
.crewDetail_content_info_declaration,
.crewDetail_content_write_title{
    font-weight: 600;
}

.crewDetail_content_info,
.crewDetail_content_write_title{
    margin-bottom: 20px;
}
.crewDetail_content_info_name{
    margin-bottom: 10px;
}
.crewDetail_content_info_declaration{
    float:right;
}
.crewDetail_content_info_personnel{
    margin-left: 10px;
}
.crewDetail_content_write_title{
    font-size: 22px;
}
.crewDetail_content_write_desc{
    font-size: 18px;
}
.crewDetail_comment_data{
    border: 1px solid #e3e3e3;
    padding:15px;
}
.crewDetail_comment_data_name{
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
}
.crewDetail_comment_write_textarea{
    width:90%;
    border:1px solid #f3f3f3;
    background-color: #f3f3f3;
    height:35px;
    padding:5px 10px;
    color:#535353;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 1px 1px 0px 0px rgba(173, 173, 173, 0.75);
    font-size: 16px;
}
.comment_submit{
    position: absolute;
    height: 35px;
    width: 5.9%;
    border: none;
    margin-left: 1px;
    border-radius: 5px;
    font-weight: 600;
    outline: none;
    background-color: #f3f3f3;
    box-shadow: 1px 1px 0px 0px rgba(173, 173, 173, 0.75);
    border-radius: 0px 0px 5px 0px;
    font-size: 14px;
}
pre{
    white-space: pre-wrap; /* pre tag내에 word wrap */
}
.etc_comment{
    float: right;
    width:30px;
    height: 25px;
    background-color: white;
    border-color: white;
    box-shadow: 1px 1px 0px 0px rgba(214, 214, 214, 0.75);
    font-weight: 600;
}

@media (max-width: 768px) {
    .crewDetail_wrap {
        width: 95%;
        margin-bottom: 50px;
    }
    .crewDetail_content{
        border:none;
        width:100%;
        padding:0px 10px 15px 10px;
    }
    .crewDetail_comment_wrap{
        border:none;
        width:100%;
        min-height: 355px;
    }
    .crewDetail_content_write_title{
        font-size: 19px;
    }
    .crewDetail_content_write_desc{
        font-size: 17px;
    }
    .crewDetail_comment_data{
        border:none;
        border-top:1px solid #e3e3e3;
    }
    .crewDetail_comment_write_textarea{
        height:40px;
        padding:5px 10px;
        width:88%;
    }
    .comment_submit{
        width: 12%;
        height: 40px;
    }
}

@media (max-width: 480px) {

}