.sub_title{
    color:black;
    font-weight: 600;
}
.crewDetail_wrap{
    width: 60%;
    margin:0 auto;
}
.crewDetail_wrap >h1{
    margin-top: 100px;
    font-size: 36px;
    font-weight: 600;
}
.crewDetail_info{
    margin-top:100px;
}
.crewDetail_info img{
    border-radius: 25px;
    float:left;
    margin-right:50px;
    width:35%;
    height: 220px;
}
.crewDetail_desc{
    width:80%;
    margin: 0 auto;
}
.crewDetail_desc h3{
    font-size: 26px;    
    font-weight: 600;
    padding:10px 0px;    
}
.crewDetail_desc p{
    padding:20px;    
    margin-top: 10px;
    font-size: 22px;    
    border:1px solid #e3e3e3;
    line-height: 30px;
}
.crewDetail_desc p:last-child{
    min-height: 300px;
}
@media (max-width: 768px) {
    .crewDetail_wrap {
        width: 80%;
        height: 1000px;
    }
}

@media (max-width: 480px) {
    
    .crewDetail_info img{
        width:45%;
        margin-right:20px;
        height: 140px;
    }
    .crewDetail_desc h3{
        font-size: 20px;    
        font-weight: 600;
        padding:10px 0px;    
    }
    .crewDetail_desc p{
        margin-top: 10px;
        font-size: 18px;    
    }
}