.header{
    width: 100%;
    position: fixed;
    background-color: white;
    top:0;
    z-index: 110;
    background-color:rgb(242, 170, 170);
    height: 50px;
}
.top{
    width:80%;
    margin:0 auto;
}
.top .logo a{
    font-size:30px;
    font-weight: 600;
    color:white;
    display: inline-block;
    padding: 8px 0px 0px 0px;
}
.top .logo{
    display: inline-block;
}
.top .navigation{
    float:right;
}
.navigation > .pc_navigation ul li{
    float:left;
    font-weight: 600;
    margin-top: 2px;
    padding:15px 0px;
    transition: transform .3s;
}
.navigation > .pc_navigation ul li:hover{
    transform: scale(1.2);

}
.navigation > .pc_navigation ul li a{
    color:white;
    padding:15px;
}

.navi_click{
    background-color: white;
    border-radius: 25px;
}
.navi_click > a{
    color: rgb(242, 170, 170) !important;
}

@media (max-width: 768px) {
    .navigation > .pc_navigation{
        display: none;
    }
}